
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <input class="form-group" type="text" placeholder="Postal Code" name="postal_code" id="postal_code"/>
    <input type="submit" class="form-group" value="Search" onclick="search($('#postal_code').val())"/>

